/* Style do index */
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  background: rgb(255,255,255);
  background: radial-gradient(circle,
  rgba(255,255,255,1) 0%, rgba(234,70,81,1) 76%,
  rgba(179,0,12,0.8939950980392157) 100%);
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Style do Login*/
.cardsHome{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.cardLogin{
  width: 30%;
  height: 90%;
  max-height: 1500px;
  background-color: #660007;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 7%;
}

.cardLogin form input[type="text"] {
  background-color: #EA4651;
  text-align: center;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  margin-top: 15%;
}

.cardLogin form input[type="password"] {
  background-color: #EA4651;
  text-align: center;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  margin-top: 5%;
}

.cardLogin form input::placeholder {
  color: #111111;
}

.topForm img{
  padding-bottom: 20%;
  width: 30%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.cardLogin form input[type="submit"] {
  background-color: #EA4651;
  text-align: center;
  border: none;
  border-radius: 30px;
  width: 100px;
  height: 40px;
  font-weight: bold;
  margin-top: 5%;
  opacity: 1;
  cursor: pointer;
}

.cardLogin form input[type="submit"]:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* Style da Home Atendente */

.containerAtendente{
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.atendenteArea{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.atendenteBtn{
  max-width: 150px;
  width: 100%;
  max-height: 1500px;
  height: 100%;
  margin-left: 2%;
}

.atendenteBtn button{
  display: block;
  background-color: #B3000C;
  border: none;
  height: 50px;
  width: 250px;
  border-radius: 30px;
  margin-top: 25%;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.atendenteBtn button:hover{
  opacity: 0.5;
  font-size: 27px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}


.Cardapio{
  background-color: #B3000C;
  border: none;
  height: 500px;
  max-height: 580px;
  width: 600px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
  flex-grow: 2;
  margin-left: 10%;
}
.Cardapio hr{
  color: #111111;
}

/* Style da Home Cozinheiro */
.cozinArea{
  display: flex;
  margin-top: 2%;
  width: 105%;
  height: 100%;
  justify-content: center;
  margin-left: -7%;
}


/* Style da Home Cliente */
.clientForm input{
  display: block;
  background-color: #B3000C;
  border: none;
  height: 50px;
  width: 250px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-left: -3%;
}

.clientForm input[type="submit"]{
  margin-top: 25%;
  font-size: 18px;
  cursor: pointer;
}
.clientForm input[type="submit"]:hover{
  opacity: 0.5;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.clientForm label{
  text-align: center;
  display: flex;
  justify-self: last baseline;
  margin-top: 25%;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.tabList {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: 2%;
}

.tabList #btnTastes{
  border: none;
  cursor: pointer;
  font-size: 22px;
  padding: 10%;
  border-radius: 30px;
  background-color: #EA4651;
  transition: 1s;
}
.tabList #btnTastes:hover{
  background-color: #B3000C;
}

.tabList #btnDrinks{
  border: none;
  cursor: pointer;
  font-size: 22px;
  padding: 10%;
  border-radius: 30px;
  background-color: #EA4651;
  transition: 1s;
}

.tabList #btnDrinks:hover{
  background-color: #B3000C;
}